.book-detail {
  padding: 20px 10px;
  .book-detail__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .book-detail__main {
    padding: 10px;
    .el-table__row {
      i {
        width: 20px;
        &:hover {
          background: #dcdcdc;
        }
      }
    }
  }
}
