.book-detail {
  padding: 20px 10px;
  .book-detail__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .book-detail__main {
    padding: 10px;
    .el-table__row {
      svg {
        width: 20px;
        &:hover {
          background: #dcdcdc;
        }
      }
    }
  }
  .el-dialog__header {
    // .header-title {
    // }
    .header-title-option {
      display: flex;
      align-items: center;
      .header-title-controll {
        margin: auto;
        span {
          svg {
            max-width: 40px;
            &:hover {
              background: #dcdcdc;
            }
          }
        }
        @include Responsive(XS) {
          text-align: center;
        }
        @include mobile-xs {
          text-align: center;
        }
      }

      .header-title-search {
        max-width: 200px;
        position: absolute;
        right: 20px;
        .el-input {
          width: 100%;
        }
        @include Responsive(XS) {
          width: 100%;
          position: static;
          margin: auto;
        }
        @include mobile-xs {
          width: 100%;
          position: static;
          margin: auto;
        }
      }

      @include Responsive(XS) {
        display: block;
      }
      @include mobile-xs {
        display: block;
      }
    }
  }
  .el-dialog__body {
    padding: 0;
    .dialog-box {
      .dialog-box__main {
        padding: 20px;
        word-break: break-word;
        text-align: justify;
        border: 1px solid;
        .highlight {
          &:hover {
            cursor: pointer;
            background-color: #eee;
          }
        }
        .highlight-btn {
          border-radius: 4px;
          border: 1px solid #ebef01;
          background-color: #fff;
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
          color: white;
          text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
          font-size: 16px;
        }
      }
      .dialog-box__footer {
        text-align: center;
      }
    }
  }

  // context menu
  #context-menu {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: none;
    list-style: none;
    position: absolute;
    z-index: 2147483647;
    background-color: white;
    border: 1px solid #ebebeb;
    border-bottom-width: 0px;

    ul {
      position: absolute;
      white-space: nowrap;
      z-index: 1;
      left: -99999em;
    }
    &.active {
      display: block;
    }
    .context-menu-item {
      display: flex;
      cursor: pointer;
      padding: 8px 15px;
      align-items: center;
      border-bottom: 1px solid #ebebeb;

      .context-menu-icon {
        top: 1px;
        position: relative;
        margin-right: 10px;
      }
      ul {
        background-color: #ffffff;
        padding: 0;
        list-style-type: none;
        text-decoration: none;
        margin-left: 40px;
        border: 1px solid #ebebeb;
        li {
          display: flex;
          cursor: pointer;
          padding: 8px 15px;
          align-items: center;
          border-bottom: 1px solid #ebebeb;
        }
      }
      &:hover {
        background-color: #ebebeb;
        ul {
          top: -1px;
          left: 84px;
          min-width: 100%;
        }
      }
    }
  }
}
